allow flags_health_check spcomlib_prop:file { getattr };
allow flags_health_check system_boot_reason_prop:file { getattr  open };
allow flags_health_check system_lmk_prop:file { getattr  open };
allow flags_health_check system_trace_prop:file { getattr  open };
allow flags_health_check test_boot_reason_prop:file { getattr  open };
allow flags_health_check theme_prop:file { getattr  open };
allow flags_health_check time_prop:file { getattr  open };
allow flags_health_check traced_enabled_prop:file { getattr  open };
allow flags_health_check traced_lazy_prop:file { getattr  open };
allow flags_health_check vendor_alarm_boot_prop:file { getattr  open };
allow flags_health_check vendor_am_prop:file { getattr  open };
allow flags_health_check vendor_audio_debug_prop:file { getattr  open };
allow flags_health_check vendor_audio_prop:file { getattr  open };
allow flags_health_check vendor_bluetooth_prop:file { getattr  open };
allow flags_health_check vendor_boot_mode_prop:file { getattr  open };
allow flags_health_check vendor_cap_configstore_dbg_prop:file { getattr  open };
allow flags_health_check vendor_cdsprpcd_prop:file { getattr  open };
allow flags_health_check vendor_cgroup_follow_prop:file { getattr  open };
allow flags_health_check vendor_coresight_prop:file { getattr  open };
allow flags_health_check vendor_data_ko_prop:file { getattr  open };
allow flags_health_check vendor_dataadpl_prop:file { getattr  open };
allow flags_health_check vendor_dataqdp_prop:file { getattr  open };
allow flags_health_check vendor_dataqti_prop:file { getattr  open };
allow flags_health_check vendor_display_prop:file { getattr  open };
allow flags_health_check vendor_gpu_prop:file { getattr  open };
allow flags_health_check vendor_iop_prop:file { getattr  open };
allow flags_health_check vendor_ipacm-diag_prop:file { getattr  open };
allow flags_health_check vendor_ipacm_prop:file { getattr  open };
allow flags_health_check vendor_mdm_helper_prop:file { getattr  open };
allow flags_health_check vendor_mirrorlink_prop:file { getattr  open };
allow flags_health_check vendor_mmi_prop:file { getattr  open };
allow flags_health_check vendor_mpctl_prop:file { getattr  open };
allow flags_health_check vendor_opengles_prop:file { getattr  open };
allow flags_health_check vendor_pd_locater_dbg_prop:file { getattr  open };
allow flags_health_check vendor_per_mgr_state_prop:file { getattr  open };
allow flags_health_check vendor_qdcmss_prop:file { getattr  open };
allow flags_health_check vendor_qdma_prop:file { getattr  open };
allow flags_health_check vendor_radio_prop:file { getattr  open };
allow flags_health_check vendor_rild_libpath_prop:file { getattr  open };
allow flags_health_check vendor_scroll_prop:file { getattr  open };
allow flags_health_check vendor_softap_prop:file { getattr  open };
allow flags_health_check vendor_ssr_prop:file { getattr  open };
allow flags_health_check vendor_system_prop:file { getattr  open };
allow flags_health_check vendor_tee_listener_prop:file { getattr  open };
allow flags_health_check vendor_time_service_prop:file { getattr  open };
allow flags_health_check vendor_usb_prop:file { getattr  open };
allow flags_health_check vendor_vm_bms_prop:file { getattr  open };
allow flags_health_check vendor_wifi_ftmd_prop:file { getattr  open };
allow flags_health_check vendor_wifi_version:file { getattr  open };
allow flags_health_check vendor_wlc_prop:file { getattr  open };
allow flags_health_check vendor_xlat_prop:file { getattr  open };
allow flags_health_check wfd_debug_prop:file { getattr  open };
allow flags_health_check wfd_service_prop:file { getattr  open };
allow flags_health_check wifi_prop:file { getattr  open };
allow flags_health_check wigig_core_prop:file { getattr  open };
