allow system_server post_boot_prop:file { getattr  open  read };
allow system_server sysfs:file { getattr  open  read };
allow system_server sysfs_kgsl:lnk_file { read };
